Repository eclipse-edc/MinimumViableDataspace, pull requests merged in 2024-11, with the labels that each got.

#381 chore: bump EDC version and use BOMs
  deployment/assets/env/consumer_identityhub.env
  deployment/assets/env/provider_identityhub.env
  gradle/libs.versions.toml
  launchers/controlplane/build.gradle.kts
  launchers/dataplane/build.gradle.kts
  launchers/identity-hub/build.gradle.kts
  launchers/runtime-embedded/build.gradle.kts
Labels: enhancement, build

#378 docs: fix README.md
  README.md
Labels: stale

#388 chore: update run configs and EDC version
  .run/Connector Consumer Corp.run.xml
  .run/Connector _provider-manufacturing_.run.xml
  .run/IdentityHub Consumer Corp.run.xml
  .run/Provider Catalog Server.run.xml
  build.gradle.kts
  gradle.properties
Labels: build
